*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

Tugas1_PAM/
Tugas2_PAM/
Tugas3_PAM/
Tugas4_PAM/
Tugas5_PAM/
Tugas6_PAM/
.gradle/
.idea/
.kotlin/
build/
local.properties
